@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Bree+Serif&family=Merriweather:wght@300;400&family=Open+Sans&family=Poppins:wght@300;600&family=Roboto+Slab&family=Sono:wght@500&family=Tilt+Neon&family=Ubuntu&display=swap");

:root {
  --icon: #2068ac;
  --bs-blue: #286fd6;
  --color-font: rgb(85, 83, 83);
  --btn-hover: #255cbb;
  --main-color: #2b3c57;
  --box: #3784f7;
  --bottom-border: rgb(235, 235, 235);
  --footer-bg: #031d46;
  --open-sans-font: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  font-family: "segoe UI";
}

.centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  /* border: 2px solid red; */
}
.page-title {
  border-bottom: 5px solid var(--main-color);
  border-radius: 5px;
  font-family: "Tilt Neon", cursive;
  font-size: 3rem;
  color: var(--main-color);
  margin: 25px 0;
  padding: 2px 12px;
  position: relative;
  width: fit-content;
  display: flex;
}

.btn-apoimt {
  padding: 7px 35px;
  border: none;
  outline: none;
  border-radius: 27px;
  background-color: var(--bs-blue);
  color: white;
  margin-left: 25px;
  font-size: 1rem;
  font-family: "Open Sans";
  cursor: pointer;
}
.btn-apoimt:hover {
  background-color: var(--btn-hover);
}

.btn-container {
  /* border: 2px solid blue; */
  padding: 5px;
}

.button {
  margin: 0px 10px;
  padding: 8px;
  width: 48%;
  border-radius: 5px;
  border-color: var(--bs-blue);
  background-color: var(--bs-blue);
  color: white;
  font-family: var(--open-sans-font);
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  outline: none;
  font-size: 17px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--btn-hover);
}

/* main section design */

/* Main Design */
.container {
  border: 1px solid rgb(192, 192, 192);
  padding: 25px;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 20px;
}
.personalDetails {
  margin-bottom: 1rem;
}
.boxes {
  margin-left: 15px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.main-box .container input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.main-box .container input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.main-box .container .g-center input {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0px 4px 0px 15px;
  box-shadow: none;
}
.main-box .container .g-center p {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
input[type="checkbox"] {
  width: 20px;
  display: inline-block;
  height: 20px;
}
select {
  width: 20%;
  padding: 8px 5px;
  font-size: 17px;
  margin-left: 15px;
  background: dodgerblue;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
}

.options {
  padding: 8px 5px;
}
.para {
  text-align: justify;
  line-height: 20px;
}
/* ---------------table Design --------------*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}
th {
  font-size: 19px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

/* ------------- Scrollbar Design ----------------*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9e9e9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f;
}

/* ------------- Add Department Css ------------*/
.main-box .container textarea {
  display: block;
  width: 100%;
  height: calc(5.5em + 2.75rem + 25px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.main-box .container textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* ------------------Add Patients ------------------------*/
#earlier {
  width: 20px;
  display: inline-block;
  height: 20px;
  margin-right: 8px;
}

.navbar .right .nav-menu li .isActive {
  color: var(--bs-blue);
}

.navbar .right .nav-menu li .isActive::before {
  content: "";
  position: absolute;
  background: var(--bs-blue);
  height: 1.5px;
  width: 100%;
  left: 0px;
  bottom: -5px;
  transition: all 0.3s;
}
